<h1 class="display-1 text-center">Flight Book</h1>
<hr>
<section class="card">
  <div class="card-body">
    <%= render  "flight_info" %>
  </div>
</section>
<section class="card">
  <div class="card-body">
    <%= render  "booking_form" %>
  </div>
</section>